
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@500;600&family=Roboto&display=swap');


/* global variables */
:root{

    --primary:rgb(123, 219, 153);
    --primary-hover:#1290c2;c7f;
    --dark-primary:#1b1f24;
  --nunito:'nunito sans',sans-serif;


}

body{

    font-family: 'Gabarito', sans-serif;
}

    


    


*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{

background-color: #1b1f24;
padding:20px;
color:#fff;
display:flex;
justify-content:space-around;
align-items: center;
}

header ul{
    list-style: none;
    display:flex;
    
    
}

header ul li {

    margin-right:10px;
    
    
}

 header ul li a{


        color:#fff;
      text-decoration:none;
      font-weight: 400;
      
    }

/* header > button */






header ul li a:hover{


color:var(--primary);
font-weight:bold;

}


header .logo{

    color:var(--primary);

  font-weight: bold;
  letter-spacing:2px;


}

/*sction : hero home page */

section.hero-section{


    background-color: var(--dark-primary);
    color:#fff;
    display: flex;
    align-items: center;
    padding:20px 120px 0 120px;

}



.hero-section-title{

font-size:25px;
font-weight:bold;



}
.hero-section-title span{


    color:var(--primary);
}

.hero-description{


    color:#c4c4c4;


}

.social-icons{

    margin:20px 0;
}

.social-icons li{

    margin-right:20px;
}


ul.social-icons {

    list-style:none;

    display:flex;

}
.social-icons li a{

    text-decoration: none;
    color:#fff;

}

.social-icons li  a> i.fa-facebook:hover{
color:rgb(123, 219, 153);
}

.social-icons li a> i.fa-linkedin:hover{

    color:#0072b1;
}

.social-icons li a> i.fa-instagram:hover{

    color:#feda75;
}

.social-icons li a> i.fa-twitter:hover{

    color:#1D9BF0;
}

.hero-buttons button{

    margin-right:10px;
}
/* button styling */

.btn{

    padding:10px 20px;

    border-radius: 2px;;
    border: none;
    cursor:pointer;
}

/* button style1 */

.btn.btn-primary{

background-color: var(--primary);

font-weight:500;
color:var(--dark-primary);

}

.btn.btn-primary:hover{

    background-color: var(--primary-hover);
}


.btn-dark-outlined{

    background-color:var(--primary);
    border:1px solid var(--primary);
    font-weight: bold;
    border-radius: 5px;
   }


/* about me section */

.about-section{

    background-color: #22282f;
    color:#fff;
    padding:60px; /*tb lr*/
    display:flex;
    justify-content: center;
    align-items: center;

    

}

.about-section img{

    width:300px;
    border-radius: 40px;
   border:3px solid rgb(58, 184, 98);
   box-shadow: 5px 10px 20px #33821d;
    
    
    
}

.about-section--desc{

    margin-left:100px;
    max-width: 450px;
   

}
.about-section--desc h4{

font-size: 30px;
font-weight: bold;

}

.about-section--desc h4>span{

color:var(--primary);

}
.about-section--desc ul{
margin-top: 10px;
list-style: none;
margin-bottom: 10px;

}
.about-section--desc ul li{

margin-bottom:10px;
color:grey;
}
.about-section--desc ul li >strong{

    color:#fff;
}

.about-section--desc li >a {

    text-decoration: none;
    color:grey;
}
.about-section--desc li >a:hover{


color: var(--primary);
}

.work-section{

background-color: var(--dark-primary);
color:#fff;
padding:60px;
text-align: center;

}

.work-section-box{

background-color: #22282f;
padding:30px;
max-width:250px;
text-align: left;
border-radius:20px;
margin-right: 20px;

}

.work-section-box a{

text-decoration: none;
color:#feda75;
margin-top:10px;
display: block;


}

.work-section-box-desc{

    margin-top: 20px;
}

.work-section-box-desc p{

    padding-top:5px;
}
.work-section-box-icon{

    background-color:rgb(123, 219, 153);
    padding:10px;
    border-radius:50%;
    margin-bottom: 20px;
    cursor:pointer;

}

.work-section-box:hover{

    background-color: #14171c;

}

.work-section-box-icon:hover{


    background-color: #14171c;
}
.work-section-items{

    display: flex;
    justify-content: space-around;

}


.work-section-title

{
color:var(--primary);
font-size: 30px;
font-weight: bold;
margin-bottom: 30px;

}

.contact-section{

background-color: #14171c;
padding:50px;
color:#fff;
text-align: center;

}


.contact-section h4{



    font-size: 30px;
    margin:20px 0;
    font-weight: 900;
}

.contact-section h4 span{

    color:#6cdf4d;
}
.contact-section form input,textarea{
    
    
    padding:5px 10px;
    outline:none;
    width:350px;
    border:none;
    background-color: #c4c4c4;
    border-radius: 2px;
    margin-bottom: 10px;
    resize: none;

}

footer{

  background-color: #2a2e29; 
  color:grey;
  padding:20px 0;
  text-align: center;
  font-size: 12px;
  
}

footer a{

    text-decoration: none;
    
}