
@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Poppins:wght@500;600&family=Roboto&display=swap');


/* global variables */
:root{

    --primary:#12bdff;
    --primary-hover:#1290c2;
    --dark-primary:#1b1f24;
  --nunito:'nunito sans',sans-serif;


}

body{

    font-family: 'Gabarito', sans-serif;
}

    


    


*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{

background-color: #1b1f24;
padding:20px;
color:#fff;
display:flex;
justify-content:space-around;
align-items: center;
}

header ul{
    list-style: none;
    display:flex;
    
    
}

header ul li {

    margin-right:10px;
    
    
}

 header ul li a{


        color:#fff;
      text-decoration:none;
      font-weight: 400;
      
    }

/* header > button */






header ul li a:hover{


color:var(--primary);
font-weight:bold;

}


header .logo{

    color:var(--primary);

  font-weight: bold;
  letter-spacing:2px;


}

/*sction : hero home page */

section.hero-section{


    background-color: var(--dark-primary);
    color:#fff;
    display: flex;
    align-items: center;
    padding:20px 120px 0 120px;

}



.hero-section-title{

font-size:25px;
font-weight:bold;



}
.hero-section-title span{


    color:var(--primary);
}

.hero-description{


    color:#c4c4c4;


}

.social-icons{

    margin:20px 0;
}

.social-icons li{

    margin-right:20px;
}


ul.social-icons {

    list-style:none;

    display:flex;

}
.social-icons li a{

    text-decoration: none;
    color:#fff;

}

.social-icons li  a> i.fa-facebook:hover{
color:#1877f2;
}

.social-icons li a> i.fa-linkedin:hover{

    color:#0072b1;
}

.social-icons li a> i.fa-instagram:hover{

    color:#feda75;
}

.social-icons li a> i.fa-twitter:hover{

    color:#1D9BF0;
}

.hero-buttons button{

    margin-right:10px;
}
/* button styling */

.btn{

    padding:10px 20px;

    border-radius: 2px;;
    border: none;
    cursor:pointer;
}

/* button style1 */

.btn.btn-primary{

background-color: var(--primary);

font-weight:500;
color:var(--dark-primary);

}

.btn.btn-primary:hover{

    background-color: var(--primary-hover);
}


.btn-dark-outlined{

    background-color:var(--primary);
    border:1px solid var(--primary);

    border-radius:5px;
    font-weight: bold;
    border-radius: 5px;
   


}


